.filterWrapper {
  padding-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem 0;
}

.filterWrapperTitle {
  color: #070200;
  font-size: 1.125rem;
  font-weight: 600;
}

.filterWrapperInput {

  input {
    border-radius: 0.375rem;
    border: 1px solid #EBEBEB;
    height: 2.25rem;
    color: #353435;
    font-size: 1rem;
    font-weight: 400;

    &::placeholder {
      color: #9C9A99;
    }

    &:focus {
      border: 1px solid #E41C38;
    }
  }

}

.filterWrapperCheckboxContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  height: 11.5rem;
  min-height: 0;
  overflow: hidden;

  &.show {
    height: 100%;
  }
}

.filterWrapperCheckboxWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterWrapperCheckbox {
  width: 1.5rem;
  height: 1.5rem;

  .filterWrapperLabel {
    color: #353435;
    font-size: 1rem;
    font-weight: 400;
  }

  input {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #EBEBEB;


    &:checked {
      border: 1px solid #E41C38;
      background-color: #E2000F;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.filterWrapperInner {
  width: auto;
  height: auto;
}

.filterWrapperBody {
  align-items: center;
}

.filterWrapperNumber {
  color: #9C9A99;
  font-size: 0.875rem;
  font-weight: 400;
}

.filterWrapperShowText {
  color: #E41C38;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 0.75rem;

  &:hover {
    text-decoration: none;
  }
}

.filterWrapperPrice {
  color: #070200;
  font-size: 1.1rem;
  font-weight: 600;
}

.filterWrapperPriceInput {
  input {
    border-radius: 0.375rem;
    border: 1px solid #EBEBEB;
    height: 2.25rem;
    color: #353435;
    font-size: 1rem;
    font-weight: 400;

    &::placeholder {
      color: #CDCDCD;
    }

    &:focus {
      border: 1px solid #E41C38;
    }
  }
}

.filterWrapperPriceLine {
  display: inline-block;
  width: 1rem;
  height: 0.0625rem;
  background-color: #CDCDCD;
}

.filterWrapperRangeSlider {
  margin: 0;
  padding: 0 0 0.75rem 0;
  border-bottom: 1px solid #EBEBEB;
}

.filterWrapperRangeSliderBar {
  background-color: #E41C38;
}

.filterWrapperRangeSliderThumb {
  background-color: #E41C38;
  border: none;
}

.filterOutline{
  color: #070200;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.375rem;
  border: 1px solid #EBEBEB !important;;
  background:  #FFF !important;
}
